body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    font-family: 'Public Pixel', sans-serif;
    color: white;
    overflow: hidden;
}

#gameContainer {
    width: 800px;
    height: 600px;
    position: relative;
    border: 8px solid #d4b484;
    background:#9b7a52;
}

.screen {
    width: 800px;
    height: 600px;

    position: absolute;
    top: 0;
    left: 0;

    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.screen img {
    width: 280px;
    height: 100px;
}

.screen.active {
    display: flex;
}

.pixel-btn:hover {
    background: #9b7a52;
    border-color: #ffe9b4;
}

.pixel-btn {
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    padding: 15px;
    margin: 15px;
    background-color: #7a5f41;
    border-left: 3px solid #d4b484;
    border-top: 3px solid #d4b484;
    border-right: 3px solid gray;
    border-bottom: 3px solid gray;
    font-family: "Courier New", Courier, monospace;
    font-size: 1.1rem;
    font-weight: 900;
    outline: 2px solid black;
}